body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    background-color: #a3a3a3;
    margin: 0;
    margin-left: 30px;
}